
@{
    ViewBag.Title = "giaiPhuongTrinh";
}

<h2>chọn phương trình</h2>
<!-- a href="Views/GiaiPhuongTrinh/phuongTrinhBac1.cshtml">phương trình bậc 1</!==a>
<a href="~/Views/GiaiPhuongTrinh/phuongTrinhBac2">phương trình bậc 2</a -->
@Html.ActionLink("phương trình bậc 1", "phuongTrinhBac1"); <br />
@Html.ActionLink("phương trình bậc 2", "phuongTrinhBac2")

